$main-nav-height:100px;
$main-nav-padding:100px;
$button-height:50px;
$button-padding:$button-height/2-12px;

$color-primary: #9B3131;
$color-secondary:#CE9943;
$shift-main-menu:180px;
$shift-side-menu-begin:20px;
$shift-side-menu-begin-small:5px;
$plus-size:35px;
$side-menu-border:2px;
$plus-size-div:35px+$side-menu-border;

$small-screen:800px;
//Small TODO list
//make conversion of text size for button
//change font and color of font
//makePartials
@function make-Smaller($x, $y){
    @return $x - $y;
  }

@mixin shift-top-content(){
    position:relative;
    top:$plus-size-div+$shift-side-menu-begin-small;
}

@mixin overflow-only-x(){
    overflow-y: auto;
    overflow-x: hidden;
}


$menu-shift:$main-nav-padding;


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body, html{
    background-color: $color-primary;
    height:100%;
    width:100%;
}

.main-wrapper{
    height:100%;
}


.main-nav{
   
    height:$main-nav-height;
    padding-left:$main-nav-padding;
    padding-right: $main-nav-padding;
    color:#CFCACA;
    position: relative;
    margin-bottom:$button-height/2+2px;
    background: linear-gradient(to bottom,rgba(208, 87, 16, 0.40) 30%,hsla(39, 60%, 68%, 0.20) 30% ),   linear-gradient(to left,rgba(59, 53, 49, 0.40) 5%,hsla(30, 15%, 95%, 0.10) 5% ) $color-secondary;
    background-size:  100% 10px,50px 100%;

    .background-cross-text{
        display:inline-block;
        width:36%;
        height:$main-nav-height;
        background-color:$color-primary;
        text-align: center;
        line-height:$main-nav-height;
       
    }
    
    
    .menu-control{
        display:inline-block;
       
       
        position: absolute;
        right:$menu-shift;
        bottom:0;
        height:$button-height;
        text-align: left;
        transform:translateY(50%);

        .menu-list{
           
            display: inline-block;
            height:100%;
            list-style-type: none;
            
         
            .menu-list__el{
                display: inline-block;
                text-decoration: none;
                padding:0px;
                margin: 0px 5px;
                height:100%;

                line-height: 100%;
                vertical-align: middle;
                
                .menu-list__el__link{
                   
                    display:inline-block;
                    text-decoration:none;
                    background-color: #080000;
                    padding:$button-padding 35px ;
                    margin:0px; 
                    width:10em;
                    height:100%; 
                    border:1px solid white;
                    text-align: center;


                   
                }
           
               
             }
        }

       
     
    }

}

.container{

    height: 100%;  
    position:relative;
}


.small-nav{
    display:inline-block;
    position:absolute;
    top:20px;
    left:$shift-side-menu-begin;
    width:$shift-main-menu;
    height: 60vh;
    background-color:$color-secondary;
    margin:0px;
   
    border-radius:20px 0px 0px 20px;
    border:$side-menu-border solid black;
    text-align: center;
    @include overflow-only-x();

    &::-webkit-scrollbar {
        width: 8px;
        
        
    }
       
    &::-webkit-scrollbar-track {
        background: hsl(180,100%,50%);
        border-radius: 8px;
        border:1px solid black;
    }
       
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: black;
        border:1px solid white;
        width: 4px;
       
    }
   
    .plus{
        width:$plus-size;
        height:$plus-size;
        background: linear-gradient(to left,transparent 40%,black 40%,black 60%,transparent 60%) no-repeat 2px 2px,linear-gradient(to bottom,transparent 40%,black 40%,black 60%,transparent 60%) no-repeat 2px 2px;
        
        background-size: make-Smaller($plus-size , 5px) make-Smaller($plus-size , 5px),make-Smaller($plus-size , 5px) make-Smaller($plus-size , 5px);
        display:none;
       
       
       
    }

    
    .small-nav__list{
    text-decoration: none;
    list-style-type: none;
    display:inline-block;
   


        .small-nav__list__el{
        text-decoration: none;


            .small-nav__list__el__link{
            text-decoration: none;
            }
        }


        




    }

    @media all and(max-width:$small-screen){
        
         
             width:$plus-size-div;
             height:$plus-size-div;
             border-radius: 5px;
             left:$shift-side-menu-begin-small;
             top:$shift-side-menu-begin-small;
             z-index: 5;
             overflow: hidden;
             .plus{
                 display:block;
             
                
             }
             .small-nav__list{
                 display:none;
         
             }

             &:hover{
                width:98%;
                height:auto;
                @include overflow-only-x();
                .small-nav__list{
                    display:block;
                }
                .plus{
                    overflow-y: auto;
                    overflow-x: hidden; 
                }
             }
             
          
        
         
     
         }
}




.general-content-container{

    display: inline-block;
    position:relative;
    left:$shift-main-menu + 20px;
    .general-content{

        position: relative;
        width:85%;
        height:72vh;
        background-color: #6AA16A;
        margin:20px 10px 20px 10px;
        padding:10px;
        text-align: center;

        .image1{
            position: absolute;
            //vertical-align: middle;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width:100px;
            height:100px;
            border: 1px solid black;
            border-radius:100px;
        }
    
    }

    @media all and(max-width:$small-screen){
        left:0px;
   
        .general-content{
            box-sizing: border-box;
            width:95%;
            margin:0 auto;
            

            p{
               @include shift-top-content();
            }
        }
    }
} 







