* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #9B3131;
  height: 100%;
  width: 100%;
}

.main-wrapper {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #9B3131;
  height: 100%;
  width: 100%;
}

.main-wrapper {
  height: 100%;
}

.button_link, .main-nav .menu-control .visualise-expand, .main-nav .menu-control .menu-list .menu-list__el .menu-list__el__link {
  display: block;
  text-decoration: none;
  background-color: #080000;
  padding: 13px 35px;
  margin: 0px;
  width: 10em;
  height: 100%;
  border: 1px solid white;
  text-align: center;
}

.main-nav {
  height: 100px;
  padding-left: 100px;
  padding-right: 100px;
  color: #CFCACA;
  position: relative;
  margin-bottom: 27px;
  background: linear-gradient(to bottom, rgba(216, 110, 53, 0.96) 30%, rgba(222, 188, 124, 0.2) 30%), linear-gradient(to left, rgba(59, 53, 49, 0.4) 5%, rgba(244, 242, 240, 0.1) 5%) #CE9943;
  background-size: 100% 10px,50px 100%;
}

.main-nav .background-cross-text {
  display: inline-block;
  width: 36%;
  height: 100px;
  background-color: #9B3131;
  text-align: center;
  line-height: 100px;
}

.main-nav .menu-control {
  display: inline-block;
  position: absolute;
  right: 100px;
  bottom: 0;
  height: 50px;
  transform: translateY(50%);
}

.main-nav .menu-control .visualise-expand {
  display: none;
}

.main-nav .menu-control .menu-list {
  display: inline-block;
  height: 100%;
  list-style-type: none;
}

.main-nav .menu-control .menu-list .menu-list__el {
  display: inline-block;
  text-decoration: none;
  padding: 0px;
  margin: 0px 5px;
  height: 100%;
  line-height: 100%;
}

@media all and (max-width: 800px) {
  .main-nav {
    padding-left: 13%;
    padding-right: 13%;
    width: 100%;
    margin-bottom: 52px;
  }
  .main-nav .background-cross-text {
    width: 100%;
    margin: 0 auto;
  }
  .main-nav .menu-control {
    left: 0;
    height: auto;
    transform: translateY(100%);
    display: block;
    z-index: 10;
    width: 100%;
  }
  .main-nav .menu-control .expand {
    width: 80%;
    margin: 0 auto;
    background-color: red;
  }
  .main-nav .menu-control .expand .visualise-expand {
    display: block;
    width: 100%;
  }
  .main-nav .menu-control .expand .menu-list {
    display: none;
  }
  .main-nav .menu-control .expand:hover .menu-list {
    display: block;
    position: relative;
    z-index: 120;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .main-nav .menu-control .expand:hover .menu-list .menu-list__el {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
  }
  .main-nav .menu-control .expand:hover .menu-list .menu-list__el .menu-list__el__link {
    width: 100%;
    display: block;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #9B3131;
  height: 100%;
  width: 100%;
}

.main-wrapper {
  height: 100%;
}

.container {
  height: auto;
  position: relative;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  width: 400%;
  height: 400%;
  top: -100%;
  left: -100%;
  z-index: 0;
  transform: rotate(-45deg);
  background: linear-gradient(45deg, white 10%, transparent 10%) 50px 50px, linear-gradient(45deg, transparent 90%, white 90%) 54px 46px #9B3131;
  background-size: 30px 30px, 30px 30px;
}

.container .small-nav {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 180px;
  height: 60vh;
  background-color: #CE9943;
  margin: 0px;
  border-radius: 20px 0px 0px 20px;
  border: 2px solid black;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.container .small-nav::-webkit-scrollbar {
  width: 8px;
}

.container .small-nav::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px solid white;
  width: 4px;
}

.container .small-nav .plus {
  width: 35px;
  height: 35px;
  background: linear-gradient(to left, transparent 40%, black 40%, black 60%, transparent 60%) no-repeat 2px 2px, linear-gradient(to bottom, transparent 40%, black 40%, black 60%, transparent 60%) no-repeat 2px 2px;
  background-size: 30px 30px, 30px 30px;
  display: none;
}

.container .small-nav .small-nav__list {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.container .small-nav .small-nav__list .small-nav__list__el {
  text-decoration: none;
}

.container .small-nav .small-nav__list .small-nav__list__el .small-nav__list__el__link {
  text-decoration: none;
}

@media all and (max-width: 800px) {
  .container .small-nav {
    width: 37px;
    height: 37px;
    border-radius: 5px;
    left: 5px;
    top: 5px;
    z-index: 5;
    overflow: hidden;
  }
  .container .small-nav .plus {
    display: block;
  }
  .container .small-nav .small-nav__list {
    display: none;
  }
  .container .small-nav:hover {
    width: 98%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .container .small-nav:hover .small-nav__list {
    display: block;
  }
  .container .small-nav:hover .plus {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.container .general-content-container {
  display: inline-block;
  position: relative;
  left: 200px;
}

.container .general-content-container .general-content {
  position: relative;
  width: 85%;
  height: 72vh;
  background: linear-gradient(rgba(217, 119, 62, 0.58), rgba(217, 119, 62, 0.58)) #9B3131;
  margin: 20px 10px 20px 10px;
  padding: 10px;
  text-align: center;
}

.container .general-content-container .general-content .image1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 100px;
}

@media all and (max-width: 800px) {
  .container .general-content-container {
    left: 0px;
  }
  .container .general-content-container .general-content {
    box-sizing: border-box;
    width: 95%;
    margin: 10px auto;
  }
  .container .general-content-container .general-content p {
    position: relative;
    top: 42px;
  }
}
 

 /*# sourceMappingURL= style.css.map */