@import "../global";

$shift-side-menu-begin:20px;
$shift-side-menu-begin-small:5px;
$plus-size:35px;
$side-menu-border:2px;
$plus-size-div:35px+$side-menu-border;
$shift-side-menu:180px;
$size-star:30px;

@function star-cal($num){
    @return if($num>0,50px + ($size-star/30)*4, 50px - ($size-star/30)*4);
}



.container{
    
        height: auto;  
        position:relative;
        overflow: hidden;
        &:before{
             content:"";
             position: absolute;
             
             width: 400%;
             height: 400%;
             top: -100%;
             left: -100%;
             z-index: 0;
             transform: rotate(-45deg);
             background: linear-gradient(45deg, white 10% ,transparent 10%)50px 50px, linear-gradient(45deg, transparent 90% ,white 90%) star-cal(1) star-cal(0) $color-primary;
             background-size: $size-star $size-star, $size-star $size-star;
       
        }
    
        .small-nav{
            display:inline-block;
            position:absolute;
            top:20px;
            left:$shift-side-menu-begin;
            width:$shift-side-menu;
            height: 60vh;
            background-color: $color-secondary;
             //background-color:mix($color-secondary,mix($color-to-make-mix-2 ,$color-to-make-mix), 95% );
           // background: linear-gradient(to bottom, $color-to-make-mix, $color-to-make-mix),  linear-gradient(to bottom, $color-to-make-mix-2, $color-to-make-mix-2) $color-secondary;
           // background-size:  100% 10px, 100% 10px;
             margin:0px;
            border-radius:20px 0px 0px 20px;
            border:$side-menu-border solid black;
            text-align: center;
            @include overflow-only-x();
    
            &::-webkit-scrollbar {
                width: 8px;
            }
            
        &::-webkit-scrollbar-thumb {
                background-color: black;
                border:1px solid white;
                width: 4px;
            
            }
        
            .plus{
                width:$plus-size;
                height:$plus-size;
                background: linear-gradient(to left,transparent 40%,black 40%,black 60%,transparent 60%) no-repeat 2px 2px,linear-gradient(to bottom,transparent 40%,black 40%,black 60%,transparent 60%) no-repeat 2px 2px;
                background-size: make-Smaller($plus-size , 5px) make-Smaller($plus-size , 5px),make-Smaller($plus-size , 5px) make-Smaller($plus-size , 5px);
                display:none;
            
            
            
            }
    
            
            .small-nav__list{
                text-decoration: none;
                list-style-type: none;
                display:inline-block;
            
    
    
                    .small-nav__list__el{
                    text-decoration: none;
    
    
                        .small-nav__list__el__link{
                        text-decoration: none;
                        }
                    }
    
    
                    
    
    
    
    
            }
    
            @media all and(max-width:$small-screen){
                
                
                    width:$plus-size-div;
                    height:$plus-size-div;
                    border-radius: 5px;
                    left:$shift-side-menu-begin-small;
                    top:$shift-side-menu-begin-small;
                    z-index: 5;
                    overflow: hidden;
                    .plus{
                        display:block;
                    
                        
                    }
                    .small-nav__list{
                        display:none;
                
                    }
    
                    &:hover{
                        width:98%;
                        height:auto;
                        @include overflow-only-x();
                        
                        .small-nav__list{
                            display:block;
                        }
                        .plus{
                            overflow-y: auto;
                            overflow-x: hidden; 
                        }
                    }
                    
                
                
                
            
                }
        }
    
    
    
    
    
    
        .general-content-container{
    
            display: inline-block;
            position:relative;
            left:$shift-side-menu + 20px;
           
            .general-content{
    
                position: relative;
                width:85%;
                height:72vh;
               
                background:linear-gradient(mix( $color-assistant, $color-to-make-mix ), mix( $color-assistant, $color-to-make-mix )) $color-primary  ;
                margin:20px 10px 20px 10px;
                padding:10px;
                text-align: center;
    
                .image1{
                    position: absolute;
                    //vertical-align: middle;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    width:100px;
                    height:100px;
                    border: 1px solid black;
                    border-radius:100px;
                }
            
            }
    
            @media all and(max-width:$small-screen){
                left:0px;
        
                .general-content{
                    box-sizing: border-box;
                    width:95%;
                    margin:10px auto;
                    
    
                    p{
                        @include shift-top-content();
                    }
                }
            }
        } 
    
    
    
    }
    
    
    