@import "../global";
$color-face:#E0B274;
$color-hair:rgba(155, 76, 39, 1);
@mixin ear($num){
    content:"";
    position: absolute;
    width:15px;
    height:30px;
   
    top:35%;
    border-radius: 40px 40px 40px 40px;
    background: black; 
    border:5px solid $color-face;
    @if $num<0{
        left:67px;
        transform: rotate(-30deg);
        }
    @else {
        right:67px;
        transform: rotate(30deg);  
    }
    
    z-index: -5;
   
}

.image-1{

    .hair{
        position: absolute;
        top:20px;
        left:60px;
        z-index: 5;
        width:180px;
         height: 80px;
        //border:1px solid black;
        background-image: radial-gradient(20px 20px at 50% 50% ,$color-hair 100%, transparent 100%),
        radial-gradient(20px 20px at 10% 60% ,$color-hair 100%, transparent 100%),
        radial-gradient(20px 20px at 55% 46% ,$color-hair 100%, transparent 100%),
        radial-gradient(27px 27px at 40% 41% ,$color-hair 100%, transparent 100%),
        radial-gradient(19px 19px at 33% 46% ,$color-hair 100%, transparent 100%),
        radial-gradient(24px 24px at 25% 46% ,$color-hair 100%, transparent 100%),
        radial-gradient(25px 25px at 67% 43% ,$color-hair 100%, transparent 100%),
        radial-gradient(24px 24px at 73% 48% ,$color-hair 100%, transparent 100%),
        radial-gradient(20px 20px at 90% 60% ,$color-hair 100%, transparent 100%)
        ;

    }
    
    .face{
        @include center_img(150px,180px);
        background-color: $color-face;
        border-radius: 10px 10px 80px 80px ;

        background-image:
        //eyes
         radial-gradient(30px 30px at 45px 30%, black 20% , white 20%, white 40% ,transparent  40% ), radial-gradient(30px 30px at 105px 30%, black 20%, white 20%, white 40%, transparent  40% ),
       //eyebrows
         radial-gradient(ellipse 15px 2px at 45px 20%, rgba(201, 129, 74, 0.91) 100% , transparent  100% ), radial-gradient(15px 2px at 105px 20%, rgba(194, 129, 77, 0.91) 100%, transparent  100% )
            //smile
        ,radial-gradient(ellipse 50px 50px at 50% 50% ,$color-face 100%, transparent 100%),
        radial-gradient(40px 40px at 50% 60% ,#C01F1F 100%, transparent 100%)
         ;

        .nose{
            @include center_img(10px,20px); 
            
            background-image: linear-gradient(to bottom,mix($color-face,#8D581C,50%) 30%,
            mix($color-face,#8D581C,50%));
            border-radius: 10px 10px 40px 40px;
        }
  
    }
    .ear1{
        @include ear(-10);
    }

    .ear2{
         @include ear(10);
    }
   
}



