@import "../global";
$color-face:#E0B274;
$color-hair:rgba(155, 76, 39, 1);
@mixin ear($num){
    content:"";
    position: absolute;
    width:15px;
    height:30px;
   
    top:35%;
    border-radius: 40px 40px 40px 40px;
    background: black; 
    border:5px solid $color-face;
    @if $num<0{
        left:67px;
        transform: rotate(-30deg);
        }
    @else {
        right:67px;
        transform: rotate(30deg);  
    }
    
    z-index: -5;
   
}

.pseudo-portret-auto{
    @include center_img(300px,300px);
    .hair{
        position: absolute;
        top:0px;
        left:50px;
        z-index: 5;
        width:200px;
         height: 80px;
        //border:1px solid black;
        background-image: radial-gradient(circle 20px at 50% 50% ,$color-hair 99%, transparent 99%),
        radial-gradient(circle 20px at 16% 60% ,$color-hair 98%, transparent 99%),
        radial-gradient(circle 20px at 55% 46% ,$color-hair 99%, transparent 99%),
        radial-gradient(circle 27px at 40% 41% ,$color-hair 99%, transparent 99%),
        radial-gradient(circle 19px at 33% 46% ,$color-hair 99%, transparent 99%),
        radial-gradient(circle 24px at 25% 46% ,$color-hair 99%, transparent 99%),
        radial-gradient(circle 25px at 67% 43% ,$color-hair 99%, transparent 99%),
        radial-gradient(circle 24px at 73% 48% ,$color-hair 99%, transparent 99%),
        radial-gradient(circle 20px at 84% 60% ,$color-hair 99%, transparent 99%)
        ;

    }
    
    .face{
        @include center_img(150px,180px);
        transform: translate(-50%,-110px);
        background-color: $color-face;
        border-radius: 10px 10px 80px 80px ;

        background-image:
        //eyes
         radial-gradient(30px 30px at 45px 30%, black 10% , #512B8D 10%, #2C0569 20%,white 20%, white 40% ,transparent  40% ), radial-gradient(30px 30px at 105px 30%, black 10%,#512B8D 10%, #2C0569 20%,white 20%, white 40%, transparent  40% ),
       //eyebrows
         radial-gradient(ellipse 15px 2px at 45px 20%, rgba(201, 129, 74, 0.91) 99% , transparent  99% ), radial-gradient(15px 2px at 105px 20%, rgba(194, 129, 77, 0.91) 99%, transparent  99% )
          //smile
        ,radial-gradient( circle 50px at 50% 50% ,$color-face 99%, transparent 99%),
        radial-gradient(circle 40px at 50% 60% ,#C01F1F 99%, transparent 99%)
         ;

        .nose{
            @include center_img(10px,20px); 
          
            background-image: linear-gradient(to bottom,mix($color-face,#8D581C,50%) 30%,
            mix($color-face,#8D581C,50%));
            border-radius: 20px 20px 40px 40px;
            box-shadow: 0px 10px 0px 2px   mix($color-face,#8D581C,50%);
        }
  
    }
    .ear1{
        @include ear(-10);
    }

    .ear2{
         @include ear(10);
    }
   
}



